MIDlet-1: disapointment-j2me, , Main
MIDlet-Jar-URL: disapointment-j2me.jar
MIDlet-Name: Disapointment J2ME 
MIDlet-Vendor: foxmoss
MIDlet-Version: 1.0.0
MicroEdition-Configuration: CLDC-1.1
MicroEdition-Profile: MIDP-2.0
Midlet-Heap-Size: 5MB
