MIDlet-1: j2sky-j2me, , Main
MIDlet-Jar-URL: j2sky-j2me.jar
MIDlet-Name: j2sky J2ME 
MIDlet-Vendor: foxmoss
MIDlet-Version: 1.0.0
MicroEdition-Configuration: CLDC-1.1
MicroEdition-Profile: MIDP-2.0
Midlet-Heap-Size: 5MB
